@use "sass:math"
@use "sass:string"
@use "sass:color"

$font-size: string.unquote("calc(0.8rem + 0.2vw)") !default
$font-weight: 400 !default
$font-family: "PT Sans", -apple-system, "Helvetica Neue", "Segoe UI", "Roboto", sans-serif !default
$heading-weight: 600 !default
$line-height: 1.6 !default
$link-color: #68f !default
$dark: #212228 !default
$light: #ffffff !default

$padding-wide: string.unquote("1.75em calc(40% - 17em)")
$padding-frame-html: string.unquote("0 calc(38% - 22em)")
$padding-frame-wide: string.unquote("1.75em calc(22% - 6em)")

@function reduce ($percent)
  @return color.change(color.mix($dark, $light), $alpha: math.div($percent, 100))
